@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 1.7;
}
body {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}
.container {
  width: 74%;
  margin: 0% auto;

  display: flex;
  border-radius: 15px;
  background-color: hsl(244, 38%, 16%);

}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5em;
  z-index: 1;
}
.left .stats {
  display: flex;
  align-self: flex-start;
  list-style: none;
  gap: 3em;
}
.color-txt {
  color: hsl(277, 64%, 61%);
}
.left .para {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 2em;
  margin-bottom: 4em;
}
.right {
  position: relative;
  border-radius: 0px 15px 15px 0px;
  background: hsla(277, 64%, 61%);
  width: 50%;
}
.right .main-image {
  width: 100%;
  height: 100%;

  display: block;
  opacity: 0.75;
  mix-blend-mode: multiply;
  border-radius: 0px 15px 15px 0px;
}
.right #mobile-image {
  display: none;
}
.small {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column-reverse;
    width: 85%;
  }
  .left {
    width: 100%;
    text-align: center;
    padding: 2em 1em;
  }
  .right {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .right #mobile-image {
    display: block;
    border-radius: 15px 15px 0 0;
  }
  .right #desktop-image {
    display: none;
  }
  .left .para {
    margin: 1em 0 3em;
  }
  .left .stats {
    align-self: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}
